* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    font-family: "Madimi One", sans-serif;
  }
  
  .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .col_h1 {
    padding: 20px;
    color: #000000;
  }
  
  .col_h1:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    cursor: pointer;
  }
  
  button {
    outline: none;
    border: 0;
    background: transparent;
    font-size: 1.5em;
    padding: 10px;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
    border-radius: 25px;
  }
  




